* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,86,186,1) 0%, rgba(0,212,255,1) 58%);
  height: 100%;
	width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor{

  margin-top: 2%;
  border: 7px groove #254AA4;
  border-radius: 13px 13px 13px 13px;
  padding-top: 15px;
  
  width: 1350px;
  height: 880px;
}

h1, span, h2{
  font-family: 'Bungee Spice', cursive;  text-align: center;
  padding: 30px;
  line-height: 1.2;
}

.btncerrar{
  position: absolute;
  top: 0px;
  right: 10px;
}

.btncerrar img{
width:40px;
}

.spansaldo{
  position: absolute;
  top: 70px;
  right: 10px;
}

.spanusr{
  position: absolute;
  top: 70px;
  left: 10px;
}
.spansaldo span{
  font-size: 20px;
}





strong {
  font-size: 20px;

}

h1{
  font-size: 50px;
}

.sky, .grass, .road {
  position: relative;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.seccion1{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
}
.letrasinicio{
  width:70%;

}
.contenedorajustes{
  width:25%;
}

.ajustes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
  margin-left: 15px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.ajustes h2{
  width: 100%;
  padding-top: 20px;
padding-bottom: 20px;
}

.inputdata{
  display: flex;
  flex-direction: row;
width:100%;
height: auto;
}
 .inputdata label{
  font-size: larger;
  width:40%;
 }
.inputdata input{
  width: 40%;
  height:30px;
}







.sky {
  background-image: url("../assets/img/fondoruta.jpg");
  background-size: cover;
  background-position: 30% 50%;
  height: 70%;
  background-color: skyblue;
  text-align: center;
}

.botoninciardiv{
  width: 100%;
  text-align: center;
  z-index: 1;
}




.grass {
  height: 5%;
  background-color: seagreen;
}

.road {
  height: 25%;
  background-color: dimgrey;
  border-top: 10px solid gray;
  border-bottom: 10px solid gray;
  width: 100%;
  overflow-x: hidden;

}

#track.lines {
  border: 5px dashed #fff;
  height: 0px;
  
  position: absolute;
  top: 45%; 
  
  width: 800vw;

  
}




.car {
  display: block;
  max-width: 100%;
  width: 100px;
  height: auto;
  position: absolute;
  left: 0;
}

.finish {
  display: block;
  width: 35%;
  height: auto;
  position: absolute;
  left: 105%;
  z-index: 1;
}


.car1 {
  z-index: 2;
  top: 0px;

}

.car2 {
  z-index: 3;
  top: 75px;
}

.ml4 {
 
  font-weight: 900;
  font-size: 3.5em;
}

.ml4 .letters {

  margin: auto;
 z-index: 10000;
  opacity: 0; 
}


  
  #train {
    position: relative;
    cursor: pointer;
  }


  .track{
    height: 0px;
    width: 800vw;
   
}

.finalmessage{
  opacity: 0;
}

.buttons-holder .button {
  margin-bottom: 15px;
	display: block;
	margin-right: 1em;
	text-decoration: none;
	font-size: 1.2em;
	padding: 0.5em;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: rgb(63, 58, 139);
	color: white;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
	transition: all 0.5s;
}

/*ESTILO AL SELECCIONAR AUTO*/
.show-red {
  width: 61px;
  height: 50px;
  border-radius:30% 70% 34% 66% / 30% 30% 70% 70%;
  background: -webkit-linear-gradient(
    to right,
    #ee8207,
    #e9ec1d
);
background: linear-gradient(
    to right,
    #ee8207,
    #e9ec1d
);
}

.imgmin{
  width:50px;
  height: auto;
}

.AutoSelect{
  display: flex;
  flex-direction: row;

}

#restart{
  opacity: 0;
  
  
}
.mensajefinal{
font-family: 'Bungee Spice', cursive;  text-align: center;}


/*Pagina INICIO*/
.formingreso{
  -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 5px 4px rgba(0,0,0,0); 
box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 5px 4px rgba(0,0,0,0);
background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
}


.inputdatainicio{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
width:100%;
height: auto;
}
 .inputdatainicio label{
  font-size: larger;
  width:40%;
 }
.inputdatainicio input{
  width: 40%;
  height:30px;
}

#btnsalir img:hover{
  
  filter: hue-rotate(120deg);
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.section2{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: #fff;
  background: rgba(255,255,255,.2);
  padding: 20px;
  font-size: 50px;
  border-radius: 10px;
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}